EmploymentService/XMLs/Companies/Company.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ns2="employmentservice">
	<xsd:element name="company">
		<xsd:complexType>
		    <xsd:sequence>
		        <xsd:element name="name" type="xsd:string"/>
		        <xsd:element name="yearFounded" type="xsd:int"/>
		        <xsd:element name="country" type="xsd:string"/>
		    </xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
